<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellomeme.v2.mapper.MemeMapper">

    <resultMap type="com.hellomeme.v2.model.entity.Meme" id="MemeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="countFunny" column="count_funny" jdbcType="INTEGER"/>
        <result property="countInteresting" column="count_interesting" jdbcType="INTEGER"/>
        <result property="countBoring" column="count_boring" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getRandomId" resultType="java.lang.Long">
        SELECT id FROM meme
        WHERE id >= RAND() * (SELECT MAX(id) FROM meme)
          and del_flag = 0
        LIMIT 1;
    </select>

</mapper>



